body{
  /* background-color: antiquewhite; */
  /* background-color: #fff8df; */
  background-color: white;
}
* {
  padding: 0;
  margin: 0;
  font-family: cursive;
  line-break: loose;
  letter-spacing: 0.01em; 
}
                                       /* Navbarar */
#navbar {
  position: sticky;
  top: 0;
  background-color: black;
  height: 50px;
  z-index: 20 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}
#navbar >a> img{
  height: 50px;
  object-fit: cover;
}
.prof_search>input{
  background-color: black;
  color: rgb(187, 187, 187);
  width: 150px;
  border:1px solid white;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 15px;
}
/* .prof_search>input::placeholder{
  color: rgb(187, 187, 187);
} */ 
.prof_search img{
  height: 11px;
}
.prof_search{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#username{
  padding-left: 10px;
  color: white;;
}
#star{
  margin-left: 10px;
  height: 20px;
}
.prof_search button{
  background-color: #007aff;
  color: white;
  width: 105px;
  padding: 5px 13px;      
  margin-left: 10px;
  border-radius: 8px;
  font-size: 13px;
  letter-spacing: 0.05em;
}
.prof_search button:hover{
  cursor: pointer;
}
                                      /* Banner */
#video {
  margin-top: -120px;
  /* background: linear-gradient(to left, rgba(255,192,203, 0) 50%, gray 60%, black 100%); */
}
.img_banner,
.banner_video {
  position: absolute;
  width: 98.85vw;
  height: 130vh;
  z-index: 0;
}
.img_banner {
  object-fit: cover;
}
#details {
  position: relative;
  z-index: 1;
  height: 100%;
  padding-left: 40px;
  width: 300px;
  background: linear-gradient(to left, rgba(255,192,203, 0) 0%, black 100%);
  line-height: 1.4em;      
  padding-bottom: 30px;
}
#video .img_production,
#video .h5_genre,
#video .p_desc,
#video .but_trial,
#video h6,
#video h3,
#video .chnge {
  position: relative;
}
.img_production {
  height: 45px;
  object-fit: cover;
  margin-top: 400px;
}

#video .h5_genre{
  margin-top: 12px;
  font-size: 12px;
  color:rgb(206, 206, 206);
}
#video .h5_genre span{
  font-size: 13px;
  color:rgb(180, 180, 180);
}
#video .p_desc{
  margin-top: 12px;
  font-size: 16px;
  color:rgb(216, 216, 216);
}
#video .but_trial{
  width: 75%;
  margin-top: 12px;
  color: black;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 12px;
  font-size: 15px;
  font-weight: bold;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#video h6{
  margin-top: 7px;
  font-size: 12px;
  color:rgb(158, 158, 158);
  margin-left: 18px;
}
#video h3{
  margin-top: 32px;
  font-size: 22px;
  color:rgb(216, 216, 216);
}

#box{
  position: relative;
  margin: auto;
  margin-top:-10px;      
  padding-bottom:100px;
  padding: 0 40px 40px 40px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  background: linear-gradient(to bottom, rgba(255,192,203, 0) 0%, rgb(0, 0, 0) 10%, black 100%);
  z-index: 10;
}
.banner_cards{
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow-x: hidden;
  box-shadow: rgba(228, 228, 228, 0.2) 0px 5px 15px 0px;
}
.banner_cards:hover{
  opacity: 0.8;
  cursor: pointer;
}
/* #accordian{
  height:500px;
} */
/* #container{
  position: relative;
} */

                                       /* Genre Movies */
.genre_box{
  width: 95%;
  margin: auto;
  border-bottom: 1.5px solid lightgrey;
  padding: 20px 0px 20px 0px;
}
.cards_container_four,.cards_container_five{
  width:100%;
  margin: auto;
  display: grid;
  gap:20px;
  padding: 15px 0px;
}
.cards_container_five{
  grid-template-columns: repeat(5,1fr);
}
.cards_container_four{
  grid-template-columns: repeat(4,1fr);
}
.cards{
  width: 100%;      
}
.cards img{
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow: 0 4px 7px rgb(0 0 0 / 25%);
  margin-bottom: 8px;
  overflow-y: hidden;
}
.cards_container_four img{
  height:172px;  
}
.cards_container_five img{
  height:135px;  
}
.genre_box h2{
  font-size: 19px;
  letter-spacing: 0em;
  padding-bottom: 4px;
}
.genre_box h2:hover{
  cursor: pointer;
}

.genre_box h2+p{
  font-size: 15px;
  letter-spacing: 0.01em;
  padding-bottom: 6px;
  color: rgb(87, 87, 87);
}
.cards p{
  text-align: center;
  font-size: 16px;
  color: darkslategray;
}
.cards p:hover{
    text-align: center;
    font-size: 16px;
    color: #4e7878;
    cursor: pointer;
  }
.cards img:hover {
  opacity:0.9;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}


                                       /* Footer */
#footer{
  width: 95%;
  margin: auto;
  padding-top: 20px;
}
#footer p{
  font-size: 12px;
  color: grey;
  padding: 5px;
}
.footer_a{
  display: flex;
}
.footer_a a{
  text-decoration: none;
  font-size: 12px;
  color: grey;
  padding: 5px;
}
.footer_a a:not(:last-child){
  border-right: 1.5px solid lightgrey;
}

                                       /* Bottom Trial Box */
#bottom_trial_box{
  position: sticky;
  bottom: 0px;
  z-index: 30;
  background-color: #262629;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.trial_box_left h3{
  font-size: 16px;
  color: #EEEEEE;
}
.trial_box_left p{
  font-size: 14px;
  margin-top: 3px;
  color:rgb(158, 158, 158);  
}
.trial_box_right{
  width: 18%;
}
.trial_box_right button{  
  display: block;
  margin: auto; 
  width: 90%;
  margin-top: 12px;
  color: black;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 12px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.trial_box_right h6{
  margin-top: 7px;
  font-size: 10px;
  color:rgb(158, 158, 158);   
  text-align: center;
}
